.breadcrumbs {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 22px;

      &::after {
        content: "/";
        position: absolute;
        right: -14px;
        top: 0;
        color: var(--gray-600);
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-800);
    transition: color 0.3s ease-in-out;

    &:not([href]){
      color: var(--gray-600);
    }

    &:focus {
      outline-offset: 1px;
      outline: 2px solid var(--primary);
    }

    &:hover {
      color: var(--primary);
    }

    &:active {
      color: var(--active);
    }
  }

  @include small-tablet {
    flex-wrap: wrap;
  }
}
