.clients {
  padding-top: 160px;
  padding-bottom: 119px;
  background: var(--white);
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
  }
  &__title{
    margin-bottom: 60px;
  }

  &__link {
    &:focus {
      outline-offset: 2px;
      outline: 2px solid var(--primary);
    }
  }
}
