.header{
  padding-top: 23px;
  padding-bottom: 21px;

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav{
    margin-left: -112px;

    @include minidesk {
      margin-left: 0;
    }

    @include tablet {
      position: fixed;
      overflow-y: auto;
      left: 0;
      top: 0;
      width: 80%;
      padding: 50px;
      height: 100vh;
      display: block;
      background-color: var(--white);
      z-index: 1000;
      transform: translateX(-150%);
      transition: transform 0.3s ease-in-out;

      &--active {
        transform: none;
      }
    }

    @include mobile {
      padding: 20px;
    }
  }

  &--main{
    background-color: var(--white);
  }

  &--secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.logo {
  &:focus {
    outline-offset: 2px;
    outline: 2px solid var(--primary);
  }

  @include minidesk {
    max-width: 100px;
  }

  @include tablet {
    max-width: none;
  }
}

.burger { @include burger }
