.nav {
  &__list {
    display: flex;
    align-items: center;

    @include tablet {
      margin-bottom: 40px;
      display: block;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }

    @include tablet {
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-800);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline-offset: 2px;
      outline: 2px solid var(--primary);
    }

    &:hover {
      color: var(--primary);
    }

    &:active {
      color: var(--active);
    }

    &--current {
      color: var(--primary);
    }
  }
}
