.positions-content {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: var(--white);

  &__left {
    grid-column: 7 span;
  }

  &__right {
    grid-column: 5 span;
    display: flex;
    justify-content: flex-end;
  }

  @include mobile {
    padding: 40px 0;
  }
}


.positions-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.positions-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  background: var(--white);

  &__meta {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-700);
  }

  &__city {
    position: relative;
    margin-right: 21px;
    padding-left: 23px;
    background-image: url(../../img/city.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;

    &::after {
      content: "";
      position: absolute;
      right: -13px;
      top: 50%;
      width: 1px;
      height: 11px;
      background-color: currentColor;
      transform: translateY(-50%);
    }
  }

  &__time {
    padding-left: 23px;
    background-image: url(../../img/clock.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
  }

  &__left {
    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-900);
  }

  &__link {
    display: inline-block;
    padding: 11px 30px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline-offset: 2px;
      outline: 2px solid var(--primary);
    }

    &:hover {
      color: var(--active);
    }

    &:active {
      color: var(--active);
    }
  }

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }

  @include mobile {
    padding: 15px;
  }
}

.positions-looking {
  width: 390px;

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--gray-900);
  }

  &__descr {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-800);
  }

  &__btn {

    &--subs {
      padding-left: 44px;
      padding-right: 44px;
      transition: color 0.3s ease-in-out;

      &:focus {
        outline-offset: 2px;
        outline: 2px solid var(--primary);
      }

      &:hover {
        color: var(--active);
      }

      &:active {
        color: var(--active);
      }

      @include tablet {
        width: 100%;
      }
    }

    &--send {
      padding-left: 54px;
      padding-right: 54px;

      @include tablet {
        width: 100%;
      }
    }
  }
}
