.services-section {
    padding-top: 212px;
    background-image: url(../img/services-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: var(--gray-200, #F4F5F6);
}