.video-block {
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(#1e212c, 0.6);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &--played {
    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__content {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__play {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--primary);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    svg {
      width: 26px;
      height: 26px;
      fill: white;
    }

    &:focus {
      outline-offset: 2px;
      outline: 2px solid var(--primary);
    }

    &:hover {
      background-color: var(--active);
    }

    &:active {
      background-color: var(--active);
    }

    &--played {
      opacity: 0;
      visibility: hidden;
    }
  }
}