<section class="page-hero page-hero--post">
	<div class="container">
		<ul class="page-hero__breadcrumbs breadcrumbs list-reset">
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">Homepage</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">News</a>
			</li>
			<li class="breadcrumbs__item">
				<a class="breadcrumbs__link">How to Build Climate Change-Resilient Infrastructure</a>
			</li>
		</ul>
		<h1 class="page-hero__title">How to Build Climate Change-Resilient Infrastructure</h1>
		<div class="page-hero__bottom">
			<div class="page-hero__meta article-meta">
				<a href="" class="article-meta__item">Industry News</a>
				<time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
				<span class="article-meta__item article-meta__item--comments">4 comments</span>
			</div>
			<ul class="page-hero__social list-reset social">
				<li class="social__item">
					<a href="#" target="_blank" aria-label="Facebook" class="social__link">
						<svg>
							<use xlink:href="img/sprite.svg#facebook"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="#" target="_blank" aria-label="LinkedIn" class="social__link">
						<svg>
							<use xlink:href="img/sprite.svg#linked-in"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="#" target="_blank" aria-label="Twitter" class="social__link">
						<svg>
							<use xlink:href="img/sprite.svg#twitter"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>