<section class="partners-about">
    <div class="container">
      <h2 class="title title--center partners-about__title">Our partners</h2>
      <p class="partners-about__descr descr descr--center">We are supported by 12+ industry bodies and media partners</p>
      <ul class="list-reset partners-about__list">
        <li class="partners-about__item">
          <a href="#" class="partners-about__link">
            <img src="../img/partners/partners-1.png" alt="Logo 1" class="partners-about__logo">
          </a>
        </li>
        <li class="partners-about__item">
          <a href="#" class="partners-about__link">
            <img src="../img/partners/partners-2.png" alt="Logo 2" class="partners-about__logo">
          </a>
        </li>
        <li class="partners-about__item">
          <a href="#" class="partners-about__link">
            <img src="../img/partners/partners-3.png" alt="Logo 3" class="partners-about__logo">
          </a>
        </li>
        <li class="partners-about__item">
          <a href="#" class="partners-about__link">
            <img src="../img/partners/partners-4.png" alt="Logo 4" class="partners-about__logo">
          </a>
        </li>
        <li class="partners-about__item">
          <a href="#" class="partners-about__link">
            <img src="../img/partners/partners-5.png" alt="Logo 5" class="partners-about__logo">
          </a>
        </li>
        <li class="partners-about__item">
          <a href="#" class="partners-about__link">
            <img src="../img/partners/partners-6.png" alt="Logo 6" class="partners-about__logo">
          </a>
        </li>
        <li class="partners-about__item">
            <a href="#" class="partners-about__link">
              <img src="../img/partners/partners-7.png" alt="Logo 1" class="partners-about__logo">
            </a>
          </li>
          <li class="partners-about__item">
            <a href="#" class="partners-about__link">
              <img src="../img/partners/partners-8.png" alt="Logo 2" class="partners-about__logo">
            </a>
          </li>
          <li class="partners-about__item">
            <a href="#" class="partners-about__link">
              <img src="../img/partners/partners-9.png" alt="Logo 3" class="partners-about__logo">
            </a>
          </li>
          <li class="partners-about__item">
            <a href="#" class="partners-about__link">
              <img src="../img/partners/partners-10.png" alt="Logo 4" class="partners-about__logo">
            </a>
          </li>
          <li class="partners-about__item">
            <a href="#" class="partners-about__link">
              <img src="../img/partners/partners-11.png" alt="Logo 5" class="partners-about__logo">
            </a>
          </li>
          <li class="partners-about__item">
            <a href="#" class="partners-about__link">
              <img src="../img/partners/partners-12.png" alt="Logo 6" class="partners-about__logo">
            </a>
          </li>
      </ul>
    </div>
  </section>
  